@import url('https://cdn.jsdelivr.net/npm/@callmebill/lxgw-wenkai-web@latest/style.css');

body {
  font-family: "LXGW WenKai", sans-serif;
  font-weight: normal;
}

/* 代码块字体保持不变 */
code, pre {
    font-family: "Roboto Mono", "Consolas", monospace;
}

/* 返回顶部按钮 */
button.md-top {
    font-family: "LXGW WenKai Screen";
    font-size: 16px;
    font-weight: bold;
}